<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Face Detection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Face Detection</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="d-flex- flex-column">
      @if (isLoading) {
        <ion-loading message="Loading. . ." duration="2000"></ion-loading>
      }
  
      @if (errorMessage) {
        <ion-alert header="Error" [message]="errorMessage" [buttons]="['Close']"></ion-alert>
      }
  
      <div class="p-2">
        <video #videoElement id="video" autoplay playsinline [style.display]="isDetecting ? 'none' : 'block'"></video>
      </div>
  
      <canvas #canvasElement id="canvas"  [style.display]="isDetecting ? 'block' : 'none'" [width]="videoElement.videoWidth" [height]="videoElement.videoHeight"></canvas>
  
      @if (!isLoading && !showVideo) {
        <ion-button expand="block" color="secondary" (click)="startCamera()">Start Camera</ion-button>
      } 
  
      @if (showVideo) {
        <ion-toggle [checked]="true" [(ngModel)]="isDetecting" (ngModelChange)="toggleDetection()">Toggle Detection</ion-toggle>
        <ion-button expand="block" color="secondary" (click)="stopCamera()">Stop Camera</ion-button>
      }
    </div>
  </div>
</ion-content>
